<div class="container">
    <div class="cardInfo">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="/../../images/{{ model }}.jpg" class="imgInfo"/></div>

                    </div>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{ model }}</h3>
                    <div class="rating">
                        <span class="review-no">Boja: {{ color }}</span>
                    </div>
                    <p class="product-description">{{ gender }}</p>
                    <p class="product-description">{{ brand }}</p>
                    <h4 class="price" style="color:black!important">Cena: <span>{{ price }} RSD</span></h4>
                </div>
            </div>
        </div>
    </div>
</div>
